<h1>Cocktail Listings</h1>
<ul>
<% @cocktails.each do |c| %>
 <li><%= link_to c.name, cocktail_path(c) %>
 <%= cl_image_tag c.photo, height: 50, width: 50, crop: :fill %>
</li>
<% end %>
</ul>

<p> <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary"%> </p>


