<ul>
<% @cocktails.each do |c| %>
<%= cl_image_tag c.photo, height: 50, width: 50, crop: :fill %><%= link_to c.name, cocktail_path(c) %>
<% end %>
</ul>

<p> <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-default"%> </p>


