body {
  background: linear-gradient(to bottom right, #E7EED2, #466551);
  background-size: cover;
  background-repeat:   no-repeat;
}
html, body {
    margin: 0;
    height: 100%;
}
a {
  color:black;
 }
a:hover {
  color: white;
}

textarea {
  height: 25px;
  width: 200px;
}
